In [3]:
import os
import pandas as pd
import numpy as np

folder_path = '/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data'


sensor_files = ["VS1", "TS4", "TS3", "TS2", "TS1", "SE", "PS6", "PS5", "PS4", "PS3", 
                "PS2", "PS1", "FS2", "FS1", "EPS1", "CP", "CE"]

In [9]:
ce = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data/CE.txt")
cp = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data/CP.txt")
eps1 = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data/EPS1.txt")
se = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data/SE.txt")
vs1 = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data/VS1.txt")
target = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data/profile.txt")

fs_list = []
for i in ['FS1', 'FS2']:
    fs = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data" + "/" + i + ".txt")
    fs_list.append(fs)

fs1, fs2 = fs_list

ps_list = []
for i in ['PS1', 'PS2', 'PS3', 'PS4', 'PS5', 'PS6']:
    ps = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data" + "/" + i + ".txt")
    ps_list.append(ps)

ps1, ps2, ps3, ps4, ps5, ps6 = ps_list

ts_list = []
for i in ['TS1', 'TS2', 'TS3', 'TS4']:
    ts = np.genfromtxt(r"/Users/aryamanghaisas/Downloads/condition_monitoring_of_hydraulic_systems_data" + "/" + i + ".txt")
    ts_list.append(ts)

ts1, ts2, ts3, ts4 = ts_list

In [11]:
target_df = pd.DataFrame(target, columns=['Cooler_Condition', 'Valve_Condition', 'Internal_Pump_Leakage', 'Hydraulic_Accumulator', 'Stable_Flag'])
target_df.head()

,Cooler_Condition,Valve_Condition,Internal_Pump_Leakage,Hydraulic_Accumulator,Stable_Flag
0,3.0,100.0,0.0,130.0,1.0
1,3.0,100.0,0.0,130.0,1.0
2,3.0,100.0,0.0,130.0,1.0
3,3.0,100.0,0.0,130.0,1.0
4,3.0,100.0,0.0,130.0,1.0

In [13]:
target_df.describe()

,Cooler_Condition,Valve_Condition,Internal_Pump_Leakage,Hydraulic_Accumulator,Stable_Flag
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,41.240816,90.693878,0.669388,107.199546,0.342857
std,42.383143,10.681802,0.817233,16.435848,0.474772
min,3.000000,73.000000,0.000000,90.000000,0.000000
25%,3.000000,80.000000,0.000000,90.000000,0.000000
50%,20.000000,100.000000,0.000000,100.000000,0.000000
75%,100.000000,100.000000,1.000000,130.000000,1.000000
max,100.000000,100.000000,2.000000,130.000000,1.000000

In [15]:
ps1.shape, ps3.shape, ps6.shape, fs1.shape, fs2.shape, cp.shape, ts1.shape

((2205, 6000),
 (2205, 6000),
 (2205, 6000),
 (2205, 600),
 (2205, 600),
 (2205, 60),
 (2205, 60))

In [17]:
np.isnan(ps1).sum() + np.isnan(ps6).sum() + np.isnan(ts1).sum() + np.isnan(vs1).sum() + np.isnan(cp).sum()

0

In [19]:
ps1.mean(axis=1)

array([160.67349167, 160.60332   , 160.34772   , ..., 161.19212   ,
       161.20891667, 161.21712833])

In [43]:
print(ce[0].shape)

(60,)

In [45]:
ps1_mean = ps1.mean(axis=1)
ps2_mean = ps2.mean(axis=1)
ps3_mean = ps3.mean(axis=1)
ps4_mean = ps4.mean(axis=1)
ps5_mean = ps5.mean(axis=1)
ps6_mean = ps6.mean(axis=1)
eps1_mean = eps1.mean(axis=1)
fs1_mean = fs1.mean(axis=1)
fs2_mean = fs2.mean(axis=1)
ts1_mean = ts1.mean(axis=1)
ts2_mean = ts2.mean(axis=1)
ts3_mean = ts3.mean(axis=1)
ts4_mean = ts4.mean(axis=1)
vs1_mean = vs1.mean(axis=1)
ce_mean = ce.mean(axis=1)
cp_mean = cp.mean(axis=1)
se_mean = se.mean(axis=1)

df = pd.DataFrame({
    "PS1": ps1_mean, 
    "PS2": ps2_mean,
    "PS3": ps3_mean,
    "PS4": ps4_mean,
    "PS5": ps5_mean,
    "PS6": ps6_mean,
    "EPS1": eps1_mean,
    "FS1": fs1_mean, 
    "FS2": fs2_mean,
    "TS1": ts1_mean,
    "TS2": ts2_mean,
    "TS3": ts3_mean,
    "TS4": ts4_mean,
    "VS1": vs1_mean,
    "CE": ce_mean,
    "CP": cp_mean,
    "SE": se_mean
})

In [47]:
df.shape, target_df.shape

((2205, 17), (2205, 5))

In [49]:
final_df = pd.concat([df,target_df],axis=1)
final_df.head()

,PS1,PS2,PS3,PS4,PS5,PS6,EPS1,FS1,FS2,TS1,...,TS4,VS1,CE,CP,SE,Cooler_Condition,Valve_Condition,Internal_Pump_Leakage,Hydraulic_Accumulator,Stable_Flag
0,160.673492,109.466914,1.991475,0.0,9.842169,9.728098,2538.929167,6.709815,10.304592,35.621983,...,31.745250,0.576950,39.601350,1.862750,59.157183,3.0,100.0,0.0,130.0,1.0
1,160.603320,109.354890,1.976234,0.0,9.635142,9.529488,2531.498900,6.715315,10.403098,36.676967,...,34.493867,0.565850,25.786433,1.255550,59.335617,3.0,100.0,0.0,130.0,1.0
2,160.347720,109.158845,1.972224,0.0,9.530548,9.427949,2519.928000,6.718522,10.366250,37.880800,...,35.646150,0.576533,22.218233,1.113217,59.543150,3.0,100.0,0.0,130.0,1.0
3,160.188088,109.064807,1.946576,0.0,9.438827,9.337429,2511.541633,6.720565,10.302678,38.879050,...,36.579467,0.569267,20.459817,1.062150,59.794900,3.0,100.0,0.0,130.0,1.0
4,160.000472,108.931434,1.922707,0.0,9.358762,9.260636,2503.449500,6.690308,10.237750,39.803917,...,37.427900,0.577367,19.787017,1.070467,59.455267,3.0,100.0,0.0,130.0,1.0